<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    <h1>Guest Registered Successfully!</h1>
<p>Name: <%= guest.name %></p>
<p>Table: <%= guest.table %></p>
<p><img src="<%= guest.imageUrl %>" alt="Guest Image" /></p>

    
</body>
</html>